<footer>
  <a href="http://www.freecodecamp.org">FreeCodeCamp</a>
  <a href="http://www.coursera.org">Coursera</a>
  <a href="https://stackoverflow.com/">StackOverFlow</a>

  <a href="/">Home</a>
  <a href="/sources">Sources</a>
  <a href="/sources/examples"> Examples</a>
</footer>
