<!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
<nav>
  <a href="/">Languages</a>
  <a href="/new">New Language</a>
  <a href="/cars/">Cars</a>
  <a href="/cars/new/">New Car</a>
</nav>
