<h1>Welcome to Coding_True</h1>
<h4>Do you find coding a passion but don't really know where to start? </h4>
<h4> Here you will be able to find some usefull resources to start with the basics, but please bare in mind this is a very challenging area! </h4>
<h4> May the 4th be with you. Good luck!</h4>

<img src="/images/programming_gif.gif" alt="">
